[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
openai = "*"
flask = "*"
pydantic = "*"
google-search-results = "*"
pandas = "*"
tabulate = "*"
pypdf = "*"
playwright = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
