<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My domain name generator</title>
  </head>
  <body>
    <div id="container">
      <input type="text" id="input" /> <br />
      <button onclick="callLLM()">Generate Domain Names!!!</button>
      <div id="output"></div>
    </div>
    <script>
      const callLLM = () => {
        const niche = document.getElementById("input").value;
        const outputArea = document.getElementById("output");
        outputArea.innerHTML = "Loading...";

        const api = `http://44.211.30.53/chat?input=${encodeURIComponent(
          niche
        )}`;

        fetch(api)
          .then((res) => res.json())
          .then((data) => {
            outputArea.innerHTML = "";
            data.forEach((domain) => {
              listItem = document.createElement("li");
              listItem.innerHTML = domain;
              outputArea.append(listItem);
            });
          });
      };
    </script>

    <style>
      #container {
        width: 720px;
        margin: auto;
        background-color: aqua;
        text-align: center;
      }
      #output {
        background-color: bisque;
      }
    </style>
  </body>
</html>
